{% extends "layout.njk" %}

{% block head %}
<title>Página principal - Foodfy</title>
{% endblock head %}

{% block content %}
    <div class="apresentacao-sobre">
        <div class="texto-apresentacao">
            <h1>{{infoHome.title}}</h1>
            <p>{{infoHome.content}}</p>
        </div>
        <div class="img-apresentacao">
            <img src="{{infoHome.img}}.png" alt="Imagem de {{infoHome.img}}">
        </div>
    </div>

    <div class="cards" id="cards">
        {% for infoRecipes in infoHome.cardRecipes %}
    
            <div class="card" id="{{infoRecipes.title}}">
                <div class="card-img">
                    <img src="{{infoRecipes.imageCard}}.png" alt="{{infoRecipes.title}}">
                </div>

                <div class="card-content">
                    <h3>{{infoRecipes.title}}</h3>
                    <p>{{infoRecipes.author}}</p>
                </div>
            </div>
        {% endfor %}


    </div>
    
    <script src="scripts.js"></script>
    

{% endblock content %}