{% extends "layout.njk" %}

{% block head %}
<title>Receitas - Foodfy</title>
{% endblock head %}

{% block content %}

{% if recipe %}
    <div class="recipe">
        <div class="recipe-img">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        </div>

        <div class="recipe-img-desc">
            <h1>{{recipe.title}}</h1>
            <p>{{recipe.author}}</p>
        </div>

        <div class="recipe-title">
            <h1>Ingredientes</h1>
            <div class="more-infoIngredients">
                <p>Esconder</p>
            </div>

            
        </div>

        <div class="recipe-ingredients">
            <ul>
                {% for ing in recipe.ingredients %}
                <li>{{ing}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="recipe-title">
            <h1>Modo de preparo</h1>
            <div class="more-infoPreparation">
                <p>Esconder</p>
            </div>
        </div>
        
        <div class="recipe-preparation">
            <ul>
                {% for prepare in recipe.preparation %}
                    <li>{{prepare}}</li>
                {% endfor %}
            </ul>
        </div>

       <div class="recipe-title">
            <h1>Informações adicionais</h1>
                
            <div class="more-infoInformation">
                <p>Esconder</p>
            </div>
                
        </div>

        <div class="recipe-information">
            <p>{{recipe.information}}</p>
        </div>
    </div>
{% endif %}

    <div class="cards" id="cards">
        {% for infoRecipes in recipes %}
    
            <div class="card" id="{{infoRecipes.title}}">
                <div class="card-img">
                    <img src="{{infoRecipes.imageCard}}.png" alt="{{infoRecipes.title}}">
                </div>

                <div class="card-content">
                    <h3>{{infoRecipes.title}}</h3>
                    <p>{{infoRecipes.author}}</p>
                </div>
            </div>
        {% endfor %}


    </div>


    <script src="/scripts.js"></script>
    
{% endblock content %}