{% extends "layout.njk" %}

{% block head %}
<title>Receitas - Foodfy</title>
{% endblock head %}

{% block content %}


    <div class="cards" id="cards">
        {% for infoRecipes in recipes %}
    
            <div class="card" id="{{infoRecipes.img}}">
                <div class="card-img">
                    <img src="{{infoRecipes.img}}.png" alt="{{infoRecipes.name}}">
                </div>

                <div class="card-content">
                    <h3>{{infoRecipes.name}}</h3>
                    <p>{{infoRecipes.madeby}}</p>
                </div>
            </div>
        {% endfor %}


    </div>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-img">
                <img src="asinhas.png" alt="comida">
            </div>

            <div class="modal-content">
                <h3>1</h3>
                <p>2</p>
            </div>
            <div class="close-modal">
                <p>Fechar</p>
            </div>
        </div>

    </div>


    <script src="scripts.js"></script>
    
{% endblock content %}